// // Here you can add other styles
// #scanner
// {
//     transform: rotateY(180deg);
//     -webkit-transform:rotateY(180deg); /* Safari and Chrome */
//     -moz-transform:rotateY(180deg); /* Firefox */
// }

.brandgreycolor {color: #c8ced3;}

.brandinfocolor {color: #63c2de;}

.dashboard {background-color: #dfeff6 !important} 

.border-dashboard {border-color: #dfeff6;}

.error { background-color: #fff0f0; }
